{
  "extends": ["airbnb-base"],
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "arrow-parens": [2, "as-needed"],
    "space-before-function-paren": [2, "always"],
    "no-underscore-dangle": 0,
    "no-mixed-operators": 0,
    "no-confusing-arrow": 0
  }
}
